metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"
rpc_secret = "${GARAGE_RPC_SECRET}"
rpc_bind_addr = "[::]:3902"
replication_factor = 1
consistency_mode = "consistent"

[s3_api]
s3_region = "garage"
api_bind_addr = "0.0.0.0:${GARAGE_S3_PORT}"

[admin]
api_bind_addr = "127.0.0.1:3901"
